.textCenter{
  text-align: center;
}

.mt1{ 
  margin-top: 5rem;
  }

.homeContainer{
  height: 100vh;  
  position: relative;
  display:flex;
  flex-direction: column;    
  justify-content: center;
}

.home__h1{  
  /* color: #7b0099; */
  color: #1E2624;
  margin-top: 0;
  font-size: 8rem;
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 5rem;     
  opacity: 0.99;
  z-index: 2;
  text-shadow: 2px 2px 8px #cacdd2;
  justify-content: center;
  display:flex;
}
.home__h1b{
  font-size: 4rem;
  font-weight: 700;  
  line-height: 1;
  margin-bottom: 1.5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  opacity: 0.75;
  color: #cacdd2;
  z-index: 2;  
}

.home__p{ 
  padding-left: 20rem;
  padding-right: 20rem;
  font-weight: 90;   
  line-height: 1.5;
  font-size: 2.4rem;  
  color: white;
  opacity: 0.70;
  z-index: 2;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 10px;   
}

.container{ 
  height: 400px; 
  position: relative;   
}

.landingImage{ 
  z-index: 0;  
}

.gradientOverlay{ 
z-index: 1;
position: absolute;
height: 100%;
width: 100%;
background: linear-gradient(rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.85) 72%, #000 100%);
}

.landingText{ 
  position: relative; 
  z-index: 2;
  color: white;
  font-size: 2.5rem;  

  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.landingText2{ 
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;  
  text-align: center;     
}

.secTwo{ 
  text-align: center;
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #cacdd2;
  font-size: 2.4rem;
}

.footer__copyright {
  margin-bottom: 10px;
  color: #cacdd2;
}

.footercol__ul__list{ 
  list-style-type: none;
  color: #cacdd2;
  font-size: 1.6rem;
  font-family: 'Michroma', sans-serif;
}

@media only screen and (max-width: 1200px){
  /*Desktop or large-size screen [1024px -> 1200px]*/
  .home__h1b{ 
    font-size: 4rem; 
    padding-left: 4rem;
    padding-right: 4rem;
  }   
}
@media only screen and (max-width: 1024px){
  /*Laptop or small-size screen [768px -> 1024px]*/
  .home__h1{
    font-size: 4rem;
  }
  .home__h1b{ 
    font-size: 2.2rem; 
  }   
  .home__p{
    font-size: 1.5rem; 
    padding-left: 3rem;
    padding-right: 3rem;       
  }
  .landingText, .landingText2{ font-size: 2.4rem; }
  .secTwo { font-size: 1.7rem; }
  .footercol__ul__list{ 
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px){ 
 /* Tablets or iPad [480px -> 768px] */   
 .home__h1{
    font-size: 4.5rem; 
  }   
  .home__h1b{ font-size: 3rem; }
  .home__p{
    font-size: 2rem; 
    padding-left: 5rem;
    padding-right: 5rem;  
    
   }
  .secTwo { font-size: 2rem; }

  .home__h1{
    font-size: 3rem; 
  }   
  .home__h1b{ font-size: 1.8rem; }
  .home__p{
    font-size: 1.4rem; 
    padding-left: 5rem;
    padding-right: 5rem;  
   }
  .secTwo { font-size: 1.5rem; }
  .footercol__ul__list{ 
    font-size: 1rem;
}
}
 @media only screen and (max-width: 468px){  
  /*Mobile devices [320px -> 480px]*/
  
   .home__h1{ 
    text-align: center;
    font-size: 2.6rem; 
    margin-top: 0;  
   } 
   .home__h1b{ 
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;    
 }    
 .home__p{ 
  font-size: 1.4rem; 
  padding-left: 1rem;
  padding-right: 1rem;
}
.secTwo { font-size: 1.2rem; }
.landingText { font-size: 2.2rem; } 
.landingText2{ 
  font-size: 2rem;
  padding-top: 1rem;
 }
.footercol{ 
  margin-left: 0;
 }
.footercol__ul__list{ 
  font-size: 1rem;
}
} 